#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use={{item.kscfg_hdddev}}
# Keyboard layouts
keyboard --vckeymap=jp --xlayouts='jp'
# System language
lang ja_JP.UTF-8

# Network information
network  --bootproto=static --device={{item.kscfg_netdev|default('link')}} --gateway={{item.kscfg_gateway}} --ip={{item.kscfg_ip}} --nameserver={{item.kscfg_nameserver}} --netmask={{item.kscfg_netmask}} --noipv6 --activate
network  --hostname={{item.kscfg_hostname}}

# Root password
rootpw --plaintext {{item.kscfg_rootpw}}
# System services
services --disabled="chronyd"
# System timezone
timezone Asia/Tokyo --isUtc --nontp
# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration
bootloader --location=mbr --boot-drive={{item.kscfg_hdddev}}
# Partition clearing information
clearpart --all --initlabel --drives={{item.kscfg_hdddev}}
# Disk partitioning information
part /boot --fstype="xfs" --ondisk={{item.kscfg_hdddev}} --size=500 --asprimary
part / --fstype="xfs" --ondisk={{item.kscfg_hdddev}} --size=1 --grow  --asprimary
part swap --fstype="swap" --ondisk={{item.kscfg_hdddev}} --size={{item.kscfg_memsize | int // 2}} --asprimary
{% if item.kscfg_kdump_part %}
part /dump --fstype="ext4" --ondisk={{item.kscfg_hdddev}} --size={{(item.kscfg_memsize | int * 1.1) | int}} --asprimary
{% endif %}

poweroff

%packages
@^graphical-server-environment
@base
@core
@desktop-debugging
@development
@dial-up
@fonts
@gnome-desktop
@guest-agents
@guest-desktop-agents
@input-methods
@internet-browser
@large-systems
@multimedia
@performance
@print-client
@x11

%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end
