#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
eula --agreed
repo --name="Server-HighAvailability" --baseurl=file:///run/install/repo/addons/HighAvailability
repo --name="Server-ResilientStorage" --baseurl=file:///run/install/repo/addons/ResilientStorage
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use={{item.kscfg_hdddev}}
# Keyboard layouts
keyboard --vckeymap=jp --xlayouts='jp'
# System language
lang ja_JP.UTF-8

# Network information
network  --bootproto=static --device={{item.kscfg_netdev|default('link')}} --gateway={{item.kscfg_gateway}} --ip={{item.kscfg_ip}} {% if item.kscfg_nameserver is defined %}--nameserver {{item.kscfg_nameserver}} {% endif %}--netmask={{item.kscfg_netmask}} --noipv6 --activate
network  --hostname={{item.kscfg_hostname}}

# Root password
rootpw --iscrypted {{item.kscfg_rootpw}}
# System services
services --disabled="chronyd"
# System timezone
timezone Asia/Tokyo --isUtc --nontp
# System bootloader configuration
bootloader --location=mbr --boot-drive={{item.kscfg_hdddev}}
# Partition clearing information
clearpart --all --initlabel --drives={{item.kscfg_hdddev}}
# Disk partitioning information
{% if item.kscfg_uefi_firmware %}
part /boot/efi --fstype="efi" --ondisk={{item.kscfg_hdddev}} --size=256 --fsoptions="umask=0077,shortname=winnt"
{% endif %}
part /boot --fstype="xfs" --ondisk={{item.kscfg_hdddev}} --size=1024
part / --fstype="xfs" --ondisk={{item.kscfg_hdddev}} --size=1 --grow
part swap --fstype="swap" --ondisk={{item.kscfg_hdddev}} --size={{item.kscfg_memsize | int // 2}}
{% if item.kscfg_kdump_part %}
part /dump --fstype="xfs" --ondisk={{item.kscfg_hdddev}} --size={{(item.kscfg_memsize | int * 1.1) | int}}
{% endif %}

poweroff

%packages
@^minimal
@core
{% for pkg in item.kscfg_pkg_addlist %}
{{pkg}}
{% endfor %}
%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy luks --minlen=6 --minquality=50 --notstrict --nochanges --notempty
%end
